*{
    font-family: Arial;
}
body {
    background-color: #1F1F1F;
    margin: 0px;
    padding: 0px;
}
.links{
    display: flex;
    justify-content: end;
    margin: 10px;
}
.links a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 13px;
}
.links a:hover{
    text-decoration: underline;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
    flex-direction: column;
}
.text_box{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #4D5156;
    border-radius: 50px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    align-self: center;
    justify-self: center;
    margin: 0;
}
.texto{
    border: 0px;
    background-color: #4D5156;
    width: 520px;
    color: white;
    font-size: 15px;
}
.texto:focus{
    border: 0px;
    background-color: #4D5156;
    outline: none;
    color: white;
}
.enviar{
    display: none;
}
.botao {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.botao div {
    padding: 12px;
    margin: 10px;
    color: white;
    background-color: #303134;
    border-radius: 10px;
    font-size: 12px;
}
.botao div:hover{
    border: 1px solid #4D5156;
}
footer{
    margin-top: 345px;
}
.widget{
    background-color: #171717;
}
.widget {
    color: white;
    font-size: 15px;
    
}
.footer_text{
    padding: 15px;
    padding-left: 30px;
    border-bottom: #4D5156 solid 1px;
}
.footer_text2 {
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
    display: flex;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}
.menu li{
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu a:hover{
    text-decoration: underline;
}
#direita{
    margin-right: 30px;
}